<div>
  <div class="wrapper">
    <input #todo (keydown.enter)="addTodo(todo)">
    <button (click)="addTodo(todo)">Add todo</button>
    <button (click)="addTodoAsync(todo)">Add todo (async)</button>
  </div>
  <ul>
    <li *ngFor="let todo of todos | async | visibleTodos:currentFilter" (click)="onTodoClick(todo.id)"
        [style.textDecoration]="todo.completed?'line-through':'none'">
      {{todo.text}} <a href="#" (click)="removeTodo(todo.id)">x</a>
    </li>
  </ul>
  <p>Show:
    <a href="#"
       (click)="applyFilter('SHOW_ALL');"
       [ngClass]="{'active': currentFilter==='SHOW_ALL', 'inactive': currentFilter!='SHOW_ALL'}">All</a>&nbsp;
    <a href="#"
       (click)="applyFilter('SHOW_ACTIVE');"
       [ngClass]="{'active': currentFilter==='SHOW_ACTIVE', 'inactive': currentFilter!='SHOW_ACTIVE'}">Active</a>&nbsp;
    <a href="#"
       (click)="applyFilter('SHOW_COMPLETED');"
       [ngClass]="{'active': currentFilter==='SHOW_COMPLETED', 'inactive': currentFilter!='SHOW_COMPLETED'}">Completed</a>
  </p>
  <div *ngFor="let error of errors | async">{{error.message}}</div>
</div>
