<div class="col centered wrapper">
  <span class="span">Angular components</span>
  <div class="col centered">
    <button class="btn button" (click)="goToPage('angular-project-parent')">Go to parent</button>
    <button class="button" [routerLink]="['/']">Home</button>
<!--directive-->
    <input type="text" appOnlyNumber>

<!--pipe-->
    <input [(ngModel)]='value' (ngModalChange)="inputChange($event)" placeholder="Enter link">
    <div [innerHtml]="value | link"></div>

  </div>
  <app-loader></app-loader>
</div>
<router-outlet></router-outlet>
