.wrapper{
  width: 700px;
  .button-add{
    margin-bottom: 30px;
  }
  .table{
    border: 1px solid black;
    margin: 20px;
    .table-item{
      height: 100px;
      border: 1px solid black;
    }
    .table-item *{
      margin: 10px;
      border: 1px solid black;
    }
  }
}
