<div class="row centered wrapper">
  <div class="col">
    <h3>Posts List ({{ count | async }})</h3>
    <div class="button-add">
      <button class="button" [routerLink]="['/posts/add']"
      >Add Post</button
      >
    </div>
    <table class="table table-striped" *ngIf="posts | async as postsData">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody class="table">
      <tr *ngFor="let post of postsData" class="table-item">
        <td>{{ post.id }}</td>
        <td style="word-break: break-all">{{ post.title }}</td>
        <td style="word-break: break-all">{{ post.body }}</td>
        <td>
          <button class="button" [routerLink]="['edit', post.id]"
          >Update </button
          >&nbsp;
          <button class="button" (click)="onDeletePost(post.id)">
            Delete</button
          >&nbsp;
          <button class="button" [routerLink]="['details', post.id]"
          >Details
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
  </div>
</div>
