///* You can add global styles to this file, and also import other style files */
//@import url(https://fonts.googleapis.com/css?family=Ubuntu:500);
//@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
//
//* {
//  -webkit-font-smoothing: antialiased !important;
//  -moz-osx-font-smoothing: grayscale;
//  text-shadow: 0px 0px 3px rgba(0,0,0,0.2);
//  font-family: "Ubuntu";
//}
//
//.active {
//  text-decoration: #3498db;
//}
//
//.inactive {
//  text-decoration: none;
//}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.row{
  display: flex;
}
.col{
  display: flex;
  flex-direction: column;
}
.centered{
  justify-content: center;
  align-items: center;
}
.size_img-parent{
    width: 400px;
    height: 300px;
}
.size_img-child{
    width: 150px;
    height: 150px;
}
.img{
  width: 30%;
  height: 40vh;
}
.button{
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background: black;
  color: white;
  cursor: pointer;
}
.span{
  font-size: 20px;
  color: cornflowerblue;
  font-style: oblique;
  font-weight: 700;
}
